@font-face {
    font-family: "HelveticaNeue";
    src: url("../New folder/Font/HelveticaNeue.ttc");
  }

body{
    height: 1080px;
    margin: 0px;
    padding: 0px;
    font-family: "HelveticaNeue";
}

body .bg-img{
    background-image: url("https://s3-alpha-sig.figma.com/img/4723/658c/209d61441c74130509ed3fe5ff87a120?Expires=1676246400&Signature=fQbDjx7TriScG-1V5vbQGZW8aJKiQs4G51VD74-WEU3jmW-ZmofGdDTgCS7KrvutZg6pGKgrUUwAQ0534FBSFOMvDrFQZyZG9H-lLSYb1BNsA9Zs6zP0nmeLWEM0pmhTXCEIsRPlmaRZasnre7nlVFq922KAexQ0J3t-~GgpVllBJaHPS9YmpG1V~Zr9tXFSwC3fcBSWmTn0BVZdcokVBOFLMj01oiDELkNSA0O-MgDTn6QOQ01kBCwEr~RcrTVFu1YzY7XGYm1zqxnM2XhptHv083LbaEMi~FRa4gJ7Pd7JxZ3i-5BjtfGOg-mvCOLZC~uxQynuFFuLxSzjLkCZOA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.5;
}

#Logo_1{
    position: absolute;
    width: 236px;
    height: 38px;
    left: 70px;
    top: 25px;    
    background-image: url("https://s3-alpha-sig.figma.com/img/f69b/80be/31a111bebc15f4f9df757da172ce198d?Expires=1676246400&Signature=H2aNvja~CBgyyDvZSqkGd6LSZNWeKt57eVnSG~CpchYk3fM1LXCHLyxnv47Y99FWanjSL7UdXRFowtqON5xBF~n1IsVDuPvQd2WfMQEKeZ5hMCyrvqeMMQcsuo3dpbW-VYjGBz46ZpwKh0UZygYyoh3WM1tRuR4JgBCzqKjWgPMUV~cRwhAg75KOuyENzpRDPnR9JcsGdxU7eCan1sREIYw~b5Cb38p1LFmMZhqRaNHgA7OZtEfPxULCAYqkAEAMB~pcTEBMCu-cYiCNIgtY5BmQ3h1LXKV~sU3oSb~mg8uk5TyDBHmpNXrtFOIJZjzHd94ntWLi-mLQBrHiR8T0KA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#line{
    position: absolute;
    height: 0px;
    left: 70px;
    right: 70px;
    top: 89px;
    border: 1px solid #1A1A1A;
}

#Logo_2 {
    height: 299px;
    width: 299px;
    left: 1070px;
    top: 520px;
    border-radius: 0px;
    position: absolute;
    opacity: 0.2;
    background-image: url("https://s3-alpha-sig.figma.com/img/0cc8/7eab/6fc4462615313b68eb514c38f7da240c?Expires=1676246400&Signature=BNIlgG5A4LTetGeXJgRiOhiPSXqVEsvmEA-FvuHpbM375Bsf8nZQnD-v22JZbAsydNTEqMenRnuSAug183B5pVT8efZeU0b6Qi4AQP5pxn9oIXHwNjPpwS6aXtDtN-2J5uOQcnwawkGaAHhxSICB8CYpw399Nl-aki~mS5mh50sHkfNtsfELrYBFmdzLR4q5pOWCU7X92b250fnSvQ4MBM6w6flC38iqlZRLWfGDJebQcSg7JfFl5zdT6M-aaOP2yUOZggIuOoLABLbC5c4gD7Ghs0bfokNV-9GsX6EC3LpZ3X~an-TSCLaqWZAe2AWLK2P6jCN7XP0mxR1SQ0dPhQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ForBtn a{
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}

#ForBtn a button{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 464px;
    height: 60px;
    left: calc(50% - 464px/2);
    top: 570px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    border-radius: 5px;
}

#main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.fa-chevron-left{
    position: absolute;
    background-color: #FFFFFF;
    width: 9.21px;
    height: 16px;
    left: 62px;
    top: 57px;
    color: #2E2E2E;
}

#left{
    background-color: #4747470b;
}

#main .First {
    position: absolute;
    width: 179px;
    height: 29px;
    left: 149px;
    top: 47px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
}

#main .Second{
    position: absolute;
    width: 29px;
    height: 24px;
    left: 920px;
    top: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #1A1A1A; 
}

#line2{
    position: absolute;
    width: 798px;
    height: 0px;
    left: 150px;
    top: 88px;
    border: 1px solid #1A1A1A;
}

#label{
    width: 798px;
    height: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#Input1, #Input2{
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#text {
    width: 371px;
    height: 21px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #2E2E2E;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#firstInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 419px;
    height: 122px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 157px;
}

#secondInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    position: absolute;
    width: 419px;
    height: 122px;
    left: calc(50% - 419px/2 - 197.5px);
    top: 157px;
}

#PersonalPhoto {
    position: absolute;
    width: 232px;
    height: 22px;
    left: 150px;
    top: 325px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
}

#ImageInput[type="file"] {
    display: none;
}

#ImageLabel {
    width: 69px;
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    width: 107px;
    height: 27px;
    left: 401px;
    top: 325px;
    background-color: #0E80BF;
    border-radius: 4px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
}

#thirdInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 148px;
    left: calc(50% - 846px/2 - 411px);
    top: 393px;
}

#Input3{
    box-sizing: border-box;
    width: 798px;
    height: 103px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    resize: none;
}

#fourthInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 122px;
    left: calc(50% - 846px/2 - 411px);
    top: 558px;
}

#fifthInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 122px;
    left: calc(50% - 846px/2 - 411px);
    top: 693px;
}

#Input4, #Input5{
    width: 778px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#text2{
    width: 1000px;
    height: 21px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #2E2E2E;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#Next{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 151px;
    height: 48px;
    right: 972px;
    bottom: 65px;
    background: #6B40E3;
    border-radius: 4px;
    border: 0px;
}

#Next span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

#Input1, #Input2, #Input3, #Input4, #Input5, 
#Input6, #Input7, #Input8, #Input9, #inputCalendar, #Input10,
#Input11, #Input12, #Input13, #Input14 {
    outline: none;
    opacity: 0.7;
    padding-left: 16px;
}

#Input3, #Input10, #Input14 {
    padding-top: 16px;
}

#Input1::placeholder, #Input2::placeholder, #Input3::placeholder, #Input4::placeholder, #Input5::placeholder,
#Input6::placeholder, #Input7::placeholder, #Input8::placeholder, #Input9::placeholder, #inputCalendar::placeholder,
#Input10::placeholder, #Input11::placeholder, #Input13::placeholder, #Input13::placeholder, #Input14::placeholder{
    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

#Input4::placeholder, #Input8::placeholder, #Input9::placeholder{
    top: 16px;
}

#Input5::placeholder {
    top: 18px;
}

#Input1:hover, #Input2:hover, #Input3:hover, #Input4:hover, #Input5:hover,
#Input6:hover, #Input7:hover, #Input8:hover, #Input9:hover, #inputCalendar:hover, #Input10:hover,
#Input11:hover, #Input12:hover, #Input13:hover, #Input14:hover {
    border: 1px solid #BCBCBC;
    transition: 0.2s;
    opacity: 1;
}

#sixthInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 157px;
}

#seventhInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 294px;
}

#Input6, #Input7{
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#eighthInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 419px;
    height: 125px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 431px;
}

#ninthInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 419px;
    height: 93px;
    left: calc(50% - 419px/2 - 197.5px);
    top: 431px;
}

#Input8, #Input9{
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fa-calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 485px;
    top: 480px;
    color: #4D4D4D;    
}

.fa-calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 911px;
    top: 480px;
    color: #4D4D4D;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 14px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlegpa6CUlazWlgFf83xDCujuDG8uNJx8T1pCy8rnVj-riEmTw");
    width: 18px;
    height: 20px;
}

#inputCalendar1, #inputCalendar2, #inputCalendar3 {
    position: absolute;
    height: 48px;
    width: 355px;
    left: 24px;
    top: 37px;
    border-radius: 4px;
    border: 1px solid #BCBCBC;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
}

#tenthInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 168px;
    left: calc(50% - 846px/2 - 411px);
    top: 541px;
}

#Input10{
    box-sizing: border-box;
    width: 798px;
    height: 123px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    resize: none;
}

#line3{
    position: absolute;
    width: 798px;
    height: 0px;
    left: 140px;
    top: 780px;
    border: 1px solid #c1c1c1af;
}

#moreExperience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 289px;
    height: 48px;
    left: calc(50% - 289px/2 - 666.5px);
    top: 830px;
    background: #62A1EB;
    border-radius: 4px;
    border: 0px;
}

#moreExperience span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#Next2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 151px;
    height: 48px;
    right: 972px;
    bottom: 65px;
    background: #6B40E3;
    border-radius: 4px;
    border: 0px;
}

#Next2 span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 113px;
    height: 48px;
    left: 150px;
    bottom: 65px;
    background: #6B40E3;
    border-radius: 4px;
    border: 0px;
}

#back span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#eleventhInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 157px;
}

#Input11{
    box-sizing: border-box;
    width: 798px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#twelfthInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 419px;
    height: 125px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 294px;
}

#Input12 {
    box-sizing: border-box;
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

#Input12 option {
    width: 371px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
}

#thirteenthInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 419px;
    height: 93px;
    left: calc(50% - 419px/2 - 197.5px);
    top: 294px;
}

#fourteenthInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    position: absolute;
    width: 846px;
    height: 224px;
    left: calc(50% - 846px/2 - 411px);
    top: 405px;
}

#Input14 {
    box-sizing: border-box;
    width: 798px;
    height: 179px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    resize: none;
}

#line4 {
    position: absolute;
    width: 798px;
    height: 0px;
    left: 149px;
    top: 695px;
    border: 1px solid #c1c1c1bb;
}

#moreEducation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 289px;
    height: 48px;
    left: calc(50% - 289px/2 - 665.5px);
    top: 745px;
    background: #62A1EB;
    border-radius: 4px;
    border: 0px;
}

#back2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 113px;
    height: 48px;
    left: 149px;
    bottom: 65px;
    background: #6B40E3;
    border-radius: 4px;
    border: 0px;
}

#Next3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;
    position: absolute;
    width: 151px;
    height: 48px;
    right: 972px;
    bottom: 65px;
    background: #6B40E3;
    border-radius: 4px;
    border: 0px;
}

#moreEducation span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#back2 span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#Next3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#Warning1, #Warning2, #Warning8, #Warning9, #Warning12, #Warning13 {
    display: none;
    position: absolute;
    width: 18px;
    top: 53px;
    left: 410px;
    color: #F02424;
}

#Verified1, #Verified2, #Verified12, #Verified13 {
    display: none;
    position: absolute;
    width: 18px;
    top: 53px;
    left: 363px;
    color: #98E37E;
}

#Warning4, #Warning5, #Warning6, #Warning7, #Warning10, #Warning11, #Warning14 {
    display: none;
    position: absolute;
    width: 18px;
    top: 55px;
    left: 835px;
    color: #F02424;
}

#Verified4, #Verified5, #Verified6, #Verified7, #Verified10, #Verified11, #Verified14 {
    display: none;
    position: absolute;
    width: 18px;
    top: 55px;
    left: 790px;
    color: #98E37E;
}